<!DOCTYPE html>
<html>
<head>
  <title>Collaborative Editing</title>
</head>
<body>
  <h1>Collaborative Editing</h1>
  <form action="/websocket" method="get">
    <input type="submit" value="Start WebSocket">
  </form>
</body>
</html>