  <!DOCTYPE html>
  <html>
  <head>
    <title>WebSocket</title>
  </head>
  <body>
    <h1>WebSocket</h1>
    <textarea id="code" cols="30" rows="10"></textarea>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script>
      // const socketUrl = `https://localhost:8081/ws`;
      // const socket = new SockJS(socketUrl, null, {
      //   transports: ['websocket', 'xhr-polling'],
      // });

      var socket = new WebSocket('ws://echo.websocket.org');

      socket.onmessage = (event) => {
        console.log(`Received message => ${event.data}`);
        const code = JSON.parse(event.data).code;
        document.getElementById('code').value = code;
      };

      socket.onopen = () => {
        console.log('Connected to WebSocket');
      };

      socket.onclose = () => {
        console.log('Disconnected from WebSocket');
      };

      document.getElementById('code').addEventListener('input', (event) => {
        const code = event.target.value;
        socket.send(JSON.stringify({ code }));
      });
    </script>
  </body>
  </html>