/* src/scrollbar.css */
.scrollbar-light::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-light::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-light::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.scrollbar-light::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-dark::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: #2e2a24;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 3px solid #2e2a24;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background: #888;
}


